<div class="signup-container">
  <h2 class="title">Sign Up</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="signup-form">
    <label>Name</label>
    <input formControlName="name" class="input" />
    <div class="error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      Name is required.
    </div>

    <label>Email</label>
    <input formControlName="email" class="input" />
    <div class="error" *ngIf="form.get('email')?.errors?.['pattern']">
      Only "&#64;gmail.com" and "&#64;epam.com" allowed.
    </div>

    <label>Password</label>
    <input type="password" formControlName="password" class="input" />
    <div class="error" *ngIf="form.get('password')?.errors?.['pattern']">
      Must contain uppercase, lowercase, number & special character.
    </div>

    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" class="input" />
    <div class="error" *ngIf="form.value.password !== form.value.confirmPassword">
      Passwords must match.
    </div>

    <button type="submit" class="btn">Register</button>
  </form>

  <p *ngIf="error" class="error-msg">{{ error }}</p>
  <p *ngIf="success" class="success-msg">{{ success }}</p>
</div>
